
// ---------GLOBAL------------
body
    margin: 0%
    display: flex
    flex-direction: column
    font-family: 'Magdelin Alt Regular'

// -------------NAV-----------
nav
    background-color: #3d3d3d
    width: 100%
    height: 10vh
    display: flex
    flex-direction: row
    align-items: center 
    justify-content: space-around

h6
    color: white
    display: flex
    font-weight: 800
    font-size: 1.5rem

nav span
    word-spacing: 4vh

a
    text-decoration: none
    color: #9ca19a
    font-size: 0.5rem
    font-weight: 900


@media screen and (max-width: 750px)

    nav
        display: flex
        flex-direction: column

    h6
        font-weight: 600
        font-size: 0.9rem
        margin-top: 0.5rem
        margin-bottom: 0rem

    a
        font-size: 0.4rem
        font-weight: 900
        margin-top: 0rem


// --------BANNER--------
.background
    margin-top: 0%
    width: 100%
    height: 30vh

@media screen and (max-width: 750px)
    .background
        height: 15vh
// -------------HEADER--------

header
    margin-top: -1.5%
    background-color: rgb(239, 231, 223)
    width: 100%
    height: 30vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

header p 
    padding: 10%
    text-align: center
    color: grey
    font-size: 1.2rem
    padding: 30%
    font-weight: 800

.back
    color: white
    background-color: #499ee3

.color
    color: #499ee3

.black
    color: black
autor
    display: block
    margin-top: 4%

@media screen and (max-width: 750px)
    header
        height: 15vh

    header p
        font-size: 0.6rem

main
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

// --------CARD------

.cards 
    display: flex
    flex-direction: row
    justify-content: space-around
    width: 100%
    height: 50vh

.card
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    width: 15%
    height: 40vh
    margin-top: 4%
    background-color: rgb(239, 231, 223)

.card h4
    font-size: 0.8rem
    padding: 9%
    margin-top: 0%
    margin-bottom: -10%

.card p
    font-size: 0.5rem
    padding: 9%
    margin-top: -2%
    color: #8a8775

.card i 
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid white
    border-radius: 50%
    margin-top: 5%
    width: 15vh
    height: 15vh
    background-color: white
    color:  #499ee3

.card span
    margin-top: 2%
    color:  #499ee3
    font-size: 0.6rem

@media screen and (max-width: 750px)
    .cards 
        display: flex
        flex-wrap: wrap
        height: 100vh
        flex-direction: row
        align-items: center
        justify-content: center
        width: 100%
        text-align: center
        height: 40vh

    .card i 
        border-radius: 50%
        margin-top: 5%
        width: 5vh
        height: 5vh

    .card
        display: flex
        flex-direction: column
        width: 20%
        height: 30vh
        text-align: center
    
    .card h4
        font-size: 0.5rem
    
    .card span
        font-size: 0.3rem

    .card p
        font-size: 0.4rem
        padding: 10%
